.navCont {
  position: sticky;
  top: 0;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  margin: auto;
}

.imgCont {
  height: 233.44px;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgCont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title,
.card-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3em;
  line-height: 1.5em;
}

.card-text {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 7.5em;
  line-height: 1.5em;
}

.loading {
  height: '0%';
  z-index: 3;
  top: '50%';
  position: 'fixed';
  left: 50%;
  transform: translate(-50%, -50%);
}

/* @media only screen and (max-width: 1400px) {
  .imgCont {
    height: 199.35px;
    width: 354.4px;
  }

  .card {
    width: 354.4px;
    height: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .imgCont {
    height: 165.6px;
    width:  294.4px;
  }

  .card {
    width:  294.4px;
    height: auto;
  }
}
 @media only screen and (max-width: 992px) {
  .imgCont {
    height: 120.594px;
    width:  214.39px;
  }

  .card {
    width:  214.39px;
    height: auto;
  }
}
 @media only screen and (max-width: 767px) {
  .imgCont {
    height: 289.35px;
    width:  514.4px;
  }

  .card {
    width:  514.4px;
    height: auto;
  }

}
@media only screen and (max-width: 769px) {
  .imgCont {
    height: 289.35px;
    width:  90% !important;
  }

  .card {
    width:  90% !important;
    height: auto;
  }

} */